body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container{
    background: white;
    padding: 70px;
    border-radius: 10px;
    width: 1200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2{
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input{
    width: 50%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 15px;
    
    border: 1px solid #ccc;
}

button{
    width: 35%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}

.login-link{
    text-align: left;
    margin-top: 10px;
}

.login-link a{
    text-decoration: none;
    color: #00ff2a;
}