
<div class="signup-container" >
    <h2>Create Account</h2>

    <form>
        <input type="text" placeholder="First Name" [(ngModel)]="userInput._name" name="firstName" required>
        <input type="text" placeholder="Last Name" [(ngModel)]="userInput._Lastname" name="lastName" required>
        <input type="email" placeholder="Email Address" [(ngModel)]="userInput._email" name="email" required>
        <input type="password" placeholder="Password" [(ngModel)]="userInput._password" name="password" required>
        <input type="password" placeholder="Confirm Password" [(ngModel)]="userInput._CornfirmPassword" name="confirmPassword" required>
    
        <button (click)="signUp()" type="button">Sign Up</button>
        
    </form>

    <div class="login-link">
        Already have an account? <a routerLink="/home">Login</a>
    </div>
</div>